In [2]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner

<H3> Get data from html

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M' 
html = requests.get(url).content
df_list = pd.read_html(html)
df= pd.DataFrame(df_list[0])

In [4]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

<H3> Clean data

In [5]:
a=[]
for i in range(len(df)):
    if df.iloc[i,1] == 'Not assigned' :
        a.extend([i])
    if df.iloc[i,2] == 'Not assigned' :
        df.iloc[i,2]=df.iloc[i,1]
df1=df.drop(a)
df1.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [6]:
df2=df1.groupby(["Postcode"]).agg({'Borough': 'first','Neighbourhood' : ', '.join})

In [7]:
df2 =df2.reset_index()

<H3> Shape

In [8]:
df2.shape

(103, 3)

In [9]:
df2.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [ ]:
for i in range(len(df3)):
    df3.iloc[i,2]=df_Geo3.loc[df3.index[i],'Latitude']
    df3.iloc[i,3]=df_Geo3.loc[df3.index[i],'Longitude']
df3.head()