In [2]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner

<H3> Get data from html

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M' 
html = requests.get(url).content
df_list = pd.read_html(html)
df= pd.DataFrame(df_list[0])

In [4]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

<H3> Clean data

In [5]:
a=[]
for i in range(len(df)):
    if df.iloc[i,1] == 'Not assigned' :
        a.extend([i])
    if df.iloc[i,2] == 'Not assigned' :
        df.iloc[i,2]=df.iloc[i,1]
df1=df.drop(a)
df1.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [6]:
df2=df1.groupby(["Postcode"]).agg({'Borough': 'first','Neighbourhood' : ', '.join})

In [7]:
df2 =df2.reset_index()

<H3> df2 Shape

In [8]:
df2.shape

(103, 3)

In [9]:
df2.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

<H3> Get Geospatial data

In [10]:
link_CSV='http://cocl.us/Geospatial_data'
df_Geo = pd.read_csv(link_CSV)
df2['Latitude']=''
df2['Longitude']=''
df_Geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [ ]:
<H3> Set index for df3 and df_Geo

In [11]:
df3=df2.set_index('Postcode')
df_Geo3 =df_Geo.set_index('Postal Code')

In [14]:
for i in range(len(df3)):
    df3.iloc[i,2]=df_Geo3.loc[df3.index[i],'Latitude']
    df3.iloc[i,3]=df_Geo3.loc[df3.index[i],'Longitude']
df3=df3.reset_index()
df3.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.8067,-79.1944
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.7845,-79.1605
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.7636,-79.1887
3,M1G,Scarborough,Woburn,43.771,-79.2169
4,M1H,Scarborough,Cedarbrae,43.7731,-79.2395